# Build
build/
.gradle/
local.properties
*.apk
*.aab
.kotlin/
.externalNativeBuild/
.cxx/

# Assinatura de Apps
*.jks
*.keystore

# Arquivos de Entrega (projeto compactado com o APK)
*.rar
*.zip

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
captures/

# Logs e Temporários
*.log
tmp/

# Arquivos do Sistema
.DS_Store
Thumbs.db
desktop.ini
